<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-Do Battle</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='to-do.css') }}">
    <script src="{{ url_for('static', filename='to-do.js') }}"></script>
</head>

<body>
    <div id="container">
        <div id="todo-rona">
            <div id="heading"><h1>Rona's To-Do</h1></div>
                <div id="todo">
                    <form id="todoFormPink">
                        <input type="text" id="todoInputPink" placeholder="Enter a To-Do">
                        <button id="rona-add" type="button" onclick="addTodoPink()">Add</button>
                    </form>
                    <ul class="pink-container" id="todoListPink"></ul>
                </div>
                <div id="done">
                    <ul class="pink-container-complete" id="todoListPinkComplete"></ul>
                </div>
            <button id="rona-delete" type="button" onclick="deleteAllTodosPink()">Delete Ronas To-Dos</button>
        </div>

        <div id="todo-mark">
            <div id="heading"><h1>Mark's To-Do</h1></div>
                <div id="todo">
                    <form id="todoFormBlue">
                        <input type="text" id="todoInputBlue" placeholder="Enter a To-Do">
                        <button id="mark-add" type="button" onclick="addTodoBlue()">Add</button>
                    </form>
                    <ul class="blue-container" id="todoListBlue"></ul>
                </div>
                <div id="done">
                    <ul class="blue-container" id="todoListBlueComplete"></ul>
                </div>

            <button id="mark-delete" type="button" onclick="deleteAllTodosBlue()">Delete Marks To-Dos</button>
        </div>
    </div>
</body>

</html>
